<p>Here at Crazy Melvin's we believe in selling things cheap !! That's why our User Interface is cheap !</p>
<p>Use the buttons below to tell me what you'd like to do here at Crazy Melvin's ??</p>
<button type="button" onclick="location.href = 'detail/search'">Search</button>
<button type="button" onclick="location.href = 'detail/insert'">Insert some Stuff</button>
<button type="button" onclick="location.href = 'detail/update'">Update some Stuff</button>
<button type="button" onclick="location.href = 'detail/delete'">Delete some Stuff</button>
<br/>
<button type="button">Get me outta here !</button>